#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -8px;
  left: -8px;
  transform: translate(0,0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  z-index: 999;
}

#yukkuri {
  width: 48px;
  height: 48px;
}
